@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,300;10..100,400;10..100,500;10..100,600;10..100,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-tan font-base;
	}
	ul, li {
		list-style: none;
	}
}

@layer components {
	.contact-input {
		@apply p-4 border-2 border-gray-300 rounded-lg;
	}
}
@layer utilities {
	.grid-rows-1fr {
		grid-auto-rows: 1fr;
	}
}

@layer components {
	.book-table {
		@apply p-4 border-2 border-gray-300 rounded-lg;
	}
	.cart {
		@apply relative after:w-4 after:h-4 after:rounded-full after:text-sm after:grid after:place-content-center after:pb-0.5 after:absolute after:bg-red-normal after:-top-2 after:-right-2 after:content-[attr(data-amount)];
	}
}
@layer components {
	.order-summary {
		@apply p-4 border-2 border-gray-300 rounded-lg;
	}
}
